<% @posts.each do |post| %>
      <tr>
        <!-- <td><%#= post.id %></td> -->
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= image_tag(post.image, width: 600, height: 400) if post.image %></td>
        <td><%= post.updated_at.strftime("%B %d, %Y")%></td>
        <!-- <td colspan="2"><%#= link_to "Show", post_path(post)%></td> -->
       <!--  <td><%#= link_to "Edit", edit_post_path(post)%></td>
        <td><%#= link_to "Delete", post_path(post), method: :delete %></td> -->
      </tr>
<% end %>